.servis-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 250px;
  }

.servis-content
{
  margin-left: 30%;
  
}

.highlight{
  background: rgb(184, 185, 255); /* green */
}